[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "pua"]
	path = pua
	url = https://github.com/tanweai/pua.git
[submodule "anthropics"]
	path = anthropics
	url = https://github.com/anthropics/skills.git
[submodule "web-access"]
	path = web-access
	url = https://github.com/eze-is/web-access.git
[submodule "claude-mem"]
	path = claude-mem
	url = https://github.com/thedotmack/claude-mem.git
[submodule "agent-skills"]
	path = agent-skills
	url = https://github.com/vercel-labs/agent-skills.git
[submodule "ui-ux-pro-max"]
	path = ui-ux-pro-max
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
